	#tb_hd
    {
       font-family:calibri;
        font-size:16px;
        font-weight:bold;
        color:#002ec2;
        
    }
    #ft
    {
        font-family:calibri;
        font-size:15px;
        font-weight:bold;
        align:center;
    }
    #ft1
    {
        font-family:calibri;
        font-size:16px;
        font-weight:bold;
        color:#D2691E;
    }
    #ft_note
    {
        font-family:calibri;
        font-size:14px;
        color:#CC00CC;
        font-style:italic;
        font-weight:bold;
    }
    #NA
    {
        font-family:calibri;
        font-size:12px;
        font-weight:bold;
    }
    #instruction
    
        font-family:calibri;
        font-size:14px;
        color:#cc3300;
        font-weight:bold;
    }
    #chk_sub
    {
        font-family:calibri;
        font-size:15px;
        font-weight:bold;
        color:#ff0000;
    }
    #sub_ft
    {
        font-family:calibri;
        font-weight:bold;
    }
    
         .displayData 
    {
        font-weight:bold;
        font-size:11px;
        color:Black} 
            
            #stat
    {
        font-family:calibri;
        font-size:14px;
        text-align:center;
        color:#000;
        font-weight:bold;
    }
    .ct
    {
        text-align:center;
        font-family:calibri;
    }